.appWrapper {
    display: grid;
    background-color: rgba(255,255,255,255);
    font-family: 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
    color: #10181f;
    margin: 0;
  
    grid-template-areas: 
      "h h"
      "c c";
  
     grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      /* grid-gap: 10px; */
  
}

.textArea {
    background-color: #10181f;
    margin-top: 5000px;
}