.appWrapper {
    display: grid;
    background-color: #102032;
    font-family: 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
    color: #e7ecee;
    margin: 0;
  
    grid-template-areas: 
      "h h"
      "c c";
  
     grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      /* grid-gap: 10px; */
  
  }