.app-wrapper {
    display: grid;
    background-color: rgba(255,255,255,255);
    font-family: 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
    color: #10181f;
    margin: 0;
    grid-template-areas: 
      "h n"
      "c c";
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      grid-template-rows: 0.2fr 1fr;
      grid-template-columns: 1fr 1fr;
      
}


.app-wrapper-content {
    grid-area: c;
    display: grid;  /* Make this a grid container */
    justify-content: center;  /* Center children horizontally */
    align-items: center;  /* Center children vertically */
}




